.ant-descriptions {
    background: #fff;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .ant-descriptions-item-label {
    font-weight: bold;
    width: 120px;
  }
  
  .ant-descriptions-item-content {
    color: #333;
  }
  
  img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
  }
  